{% extends 'base.html' %}


{% block title %}Texts{% endblock %}


{% block body %}

<div class="text">
    <h1>
        <a href="text.html">Чому ми ним користуємось?</a>
    </h1>
    <p>
        Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний. Багато програм верстування та веб-дизайну використовують Lorem Ipsum як зразок і пошук за терміном "lorem ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому стані. Різні версії Lorem Ipsum з'явились за минулі роки, деякі випадково, деякі було створено зумисно (зокрема, жартівливі).
    </p>
    <hr>
    Автор: <a href="author.html">crowli</a> · Дата: 2021.06.25
</div>

<div class="text">
    <h1>
        <a href="text.html">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</a>
    </h1>
    <p>
        In facilisis ut odio a elementum. In elementum feugiat felis id ultrices. Maecenas consectetur sapien eu ligula rhoncus, eu malesuada urna hendrerit. Vivamus dapibus odio purus, et scelerisque lacus dapibus ut. Cras sit amet nisl suscipit, vestibulum elit at, dictum neque. Aliquam egestas ultrices convallis. Donec malesuada, justo a pretium feugiat, nulla magna accumsan odio, in malesuada justo sem ut ligula. 
    </p>    
    <hr>
    Автор: <a href="author.html">crowli</a> · Дата: 2020.06.20
</div>

<div class="text">
    <h1>
        <a href="text.html">Mauris aliquet ex sed magna feugiat volutpat.</a>
    </h1>
    <p>
        Mauris aliquet ex sed magna feugiat volutpat. Fusce non sodales nibh, ut cursus elit. Sed ullamcorper, tellus placerat pretium commodo, odio purus pharetra sem, commodo auctor lacus sem nec nunc. Nulla facilisi. Maecenas fermentum, odio in suscipit vulputate, felis lorem congue nisl, quis venenatis neque tortor elementum ex. Fusce vehicula dignissim dolor, vel vehicula risus pretium nec. Nam ac massa enim. Cras nec sem et magna molestie porta. Phasellus ullamcorper at odio sed varius.
    </p>
    <hr>
    Автор: <a href="site.com/link_to_the_author">roma</a> · Дата: 2021.01.11
</div>

{% endblock %}